.imdb-heading {
    background-color: gold;
    display: inline-block;
    border: 5px solid black;
    border-radius: 15px;
}

.outer-heading {
    text-align: center;
}

.paragraph-heading {
    margin: 5px;
}

.imdb {
    font-weight: bold;
}

.logout-watchlist {
    text-align: right;
}

.new-watchlist {
    float: right;
}

.container {
    background-color: lightgray;
}
