.movies-list-container {
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;
}
.movies-list {
    display: inline-block;
    padding: 20px;
}

.movie {
    font-size: 20px;
}

.movies-heading {
    margin-bottom: 50px;
}

.movies-heading-2 {
    font-weight: bold;
}

.title {
    color: black;
    font-size: 23px;
}

.nav-pages {
    text-align: center;
}

.pages {
    display: inline-block;
}

.likes {
    color: green;
}

.dislikes {
    color: red;
}

.genres {
    margin-bottom: 20px;
}