.image-container {
    width: 40%;
    float: left;
    margin-bottom: 40px;
    margin-top: 40px;
}

.image {
    height: 500px;
    width: 500px;
    padding-left: 40px;
}

.movie-title {
    margin-top: 40px;
    float: right;
    width: 50%;
    margin-bottom: 20px;
}

.movie-descritpion {
    float: right;
    width: 50%;
    padding-right: 40px;
}

.container {
    overflow: hidden;
}

.bold-title {
    font-weight: bold;
}

.description-font {
    font-size: 20px;
}

.link-container {
    text-align: center;
    height: 60px;
}

.movie-link {
    display: inline-block;
}

.times-visited {
    margin-top: 5px;
    clear: both;
    float: right;
}
