.image-container {
    float: left;
    margin-bottom: 10px;
    clear: left;
    margin-right: 10px;
}

.movie-container {
    overflow: hidden;
    width: 70%;
    margin-top: 10px;
    border-right: 2px solid grey;
    padding-left: 10px;
}


.image-and-description {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
}

.image {
    height: 300px;
    width: 300px;
}

.movie-title {
    margin-top: 20px;
    float: left;
}

.movie-descritpion {
    padding-right: 40px;
    text-align: justify;
}

.container {
    overflow: hidden;
}

.bold-title {
    font-weight: bold;
}

.description-font {
    font-size: 15px;
}

.times-visited {
    margin-top: 5px;
    clear: left;
    float: left;
}

.comment-container {
    clear: both;
    padding-top: 20px;
    
}

.comments-container {
    clear: both;
    padding-top: 20px;
    
}

.watchlists-select {
    padding-top: 30px;
    padding-right: 40px;
    clear: right;
    float: right;
    width: 200px;
}

.like-dislike-container {
    float: left;
    clear: left;
    display: inline;
    overflow: hidden;
}

.test{
    font-size: 50px;
}

.pocket-imdb {
    background-color: gold;
    display: inline-block;
    border: 5px solid black;
    border-radius: 15px;
    padding: 5px;
    float: left;
    color: black;
}

.header{
    padding: 20px;
    overflow: hidden;
    border-bottom: 2px solid grey;
}

.logout-button {
    float: right;
}

.genre {
    float: left;
    clear: left;
    margin-bottom: 15px;
}

.likes-number {
    display: inline;
}

.dislikes-number {
    display: inline;
}

.like-container {
    float: left;
}

.dislike-container {
    float: left;
    padding-left: 10px;
}


.thumbs-up {
    color: green;
}

.thumbs-down {
    color: red;
}

.thumbs-up:hover {
    cursor: pointer;
}

.thumbs-down:hover {
    cursor: pointer;
}

.related-movies {
    float: right;
    overflow: hidden;
}



