.sidebar {
    position: absolute;
    right: 50px;
    top: 70px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    height: 400px;
    overflow: scroll;
}

.top-movies-title {
    font-size: 15px;
    color: black;
    padding-bottom: 20px;
}

.top-movies-label {
    position: absolute;
    right: 90px;
    top: 30px;
}